@import url('https://fonts.googleapis.com/css2?family=Inter&family=MedievalSharp&family=Poppins&display=swap');
@font-face {
    font-family: "Dragon";
    src: url(../fonts/Dragon.otf);
}
body{
    margin: 0;
    padding: 0;   
}
.top{
    background-image: url(../images/Background_Hero.png);
    width: 100%;
    height: 534px;
}
.text{
    color: #FFF;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title{
    color: #FFF;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.top header{
    margin-top: 11px;
    margin-left: 70px;
    display: inline-flex;
}
.top header .menu{
    display: inline-flex;
    margin-left: 430px;
}
.top header .menu a{
    margin-right: 15px;
}
.top header .menu a img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px ;
    margin-left: 5px;
}
.top header .menu a{
    color: #FFF5BF;
    font-size: 20px;
    font-family: "Dragon";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
}
.hero{
    display: inline-flex;
}
.hero .box{
    margin-left: 180px;
    margin-top: 40px;
    width: 554px;
    height: 217px;
}
.hero .box .btms{
    margin-top: 40px;
    display: inline-flex;
}
.hero .box .btms .btm1{
    width: 170px;
    height: 48px;
    border-radius: 16px;
    background: #FFDB00;
    text-align: center;
}
.hero .box .btms .btm1 a{
    color: #000;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    position: relative;
    top: 13px;
}
.hero .box .btms .btm2{
    width: 188px;
    height: 48px;
    border-radius: 16px;
    border: 1px solid #FFDB00;
    background: rgba(255, 219, 0, 0.00);
    text-align: center;
    margin-left: 24px;
}
.hero .box .btms .btm2 a{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    position: relative;
    top: 13px;
}
.hero .heroBook{
     margin-top: 70px;
     margin-left: 138px;
}
.line1{
    width: 100%;
    height: 6vh;
    background-color: #FFDB00;
}
.booksBox{
    background-color: #60605C;
    padding: 0;
    margin-top: -20px;
}
.booksBox .title{
    font-size: 20px;
    padding-left: 9vh;
    padding-top: 4.5vh;
    padding-bottom: 2vh;
}
.booksBox .books{
    margin-left: 16.3vh; 
    margin-right: 16.2vh;
    margin-bottom: 6.4vh;
    display: inline-block;
}
.booksBox .books .book{
    width: 330px;
    display: inline-flex;
    padding-bottom: 65px;
}
.booksBox .books .b2{
    padding-left: 38vh;
}
.booksBox .books .book .box{
    display: inline;
    margin-left: 23px;
}
.booksBox .books .book .box .title2{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 307px;
    height: 46px;
    margin: 0;
}
.booksBox .books .book .box .text{
    margin-top: 12px;
    width: 307px;
    height: 165px;
}
.booksBox .books .book img{
    width: 200px;
    height: 287px;
}
.booksBox .books .book .box .buttom{
    width: 200px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FFDB00;
    background: rgba(255, 219, 0, 0.00);
    text-align: center;
}
.booksBox .books .book .box .buttom a{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    position: relative;
    top: 12px;
}
.moviesBox{
    width: 100%;
    height: 570px;
    background: #CBBD6C;
}
.moviesBox .title{
    display: inline-flex;
    margin-left: 82px;
    margin-top: 32px;
}
.moviesBox .title p{
    margin-left: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 51px;
}
.moviesBox .title img{
    height: 37px;
    padding-top: 15px;
}
.moviesBox .movies{
    display: inline-flex;
    margin-left: 82px;
    margin-bottom: 50px;
}
.moviesBox .movies .movie{
    text-align: center;
    margin-right: 90px;
}
.moviesBox .movies .movie .text{
    color: #000;
    font-size: 16px;
}
.actorsBox{
    height: 535px;
    width: 100%;
    background: #60605C;
    margin-top: -20px;
}
.actorsBox .title{
    font-size: 20px;
    margin-left: 10vh;
    padding-top: 6vh;
}
.actorsBox .actors{
    display: inline-flex;
    margin-left: 10vh;
    margin-top: 10px;
}
.actorsBox .actors .actorS{
    text-align: center;
    margin-right: 3vh;
    margin-top: 7vh;
}
.actorsBox .actors .actorM{
    text-align: center;
    margin-right: 6vh;
    margin-top: 5vh;
}
.actorsBox .actors .actorB{
    text-align: center;
    margin-right: 6vh;
}
.actorsBox .title2{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.actorsBox .text{
    font-size: 16px;
    position: relative;
    top: -10px;
}
footer{
    width: 100%;
    height: 379px;
    background-image: url(../images/Footer.png);
    margin-top: -20px;
}
footer .Ftop{
    display: inline-flex;
    margin-left: 10vh;
    padding-top: 2vh;
    padding-bottom: 1.3vh;
}
footer .Ftop .text{
    color: #000;
    font-family: MedievalSharp;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}
footer .Ftop img{
    margin-left: 84.5vh;
    width: 208px;
    height: 52.95px;
    margin-top: 10px;
}
footer .line{
    width: 89%;
    height: 1.891px;
    background: rgba(62, 62, 62, 0.40);
    margin-left: 10vh;
}
footer .conteudo{
    margin-left: 10vh;
    display: inline-flex;
}
footer .conteudo .makers{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 268px;
    height: 170.198px;
}
footer .conteudo .makers .title{
    color: #131313;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
footer .conteudo .makers .text{
    color: #000;
    font-family: MedievalSharp;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 132.988%;
}
footer .conteudo .buttons{
    margin-left: 10vh;
    margin-top: 13vh;
}
footer .conteudo .buttons a{
    text-decoration: none;
    padding: 11px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    background-color: #AA7748;
    border-radius: 30px;
    width: 135px;
    height: 27.421px;
    color: #FFF;
    font-family: MedievalSharp;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}
footer .textBottom{
    color: #000;
    font-family: MedievalSharp;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}
/* html da pagina dos livros "book.html" */
.bookHtml{
    background: #60605C;
}
.Book{
    height: 110px;
}
.lineTop{
    width: 100%;
    height: 27px;
    background: #FFDB00;
}
.topBox{
    margin-top: 117px;
    margin-left: 250px;
    display: inline-flex;
    align-items: top;
}
.topBox .textBox{
    margin-left: 110px;
}
.topBox .textBox .title{
    width: 420px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -12px;
}
.topBox .textBox .author{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.topBox .textBox .text{
    font-size: 15px;
    width: 420px;
    height: 51px;
}
.topBox .Bimg{       
    width: 277px;
    height: 399px;
    margin-left: 73px;
}
.selectBtm{
    width: 61px;
    height: 140px;
    margin-top: 40px;
}
.selectBtm img{
    width: 61px;
    height: 61px;
    margin-bottom: 18px;
}
.articleBook{
    width: 80%;
    height: 1197px;
    background: #89715A;
    display: flex;
    margin-left: 10%;
    margin-top: -130px;
    margin-bottom: 110px;
}
.articleBook .textTop .seemore{
    width: 180px;
    height: 48px;
    border-radius: 16px;
    background: #3E0607;
}
.articleBook .textTop .seemore p{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    position: relative;
    display: flex;
    justify-content: center;
}
.articleBook .textTop .seemore p span{
    margin-left: 10px;
    position: relative;
}
.articleBook .textTop .star{
    margin-left: 10px;
    margin-bottom: 34.5px;
}
.articleBook .textTop{
    width: 440px;
    height: 99.5px;
    display: inline-flex;
    margin-left: 57%;
    flex-wrap: wrap;
    margin-top: 34.5px;
}
.articleBook .line{
    width: 90%;
    height: 2px;
    background-color: #3E0607;
}